{% extends 'main/pattern.html' %}
{% load static %}

{% block title %}
Главная страница
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'news/css/news_style.css'%}">
{% endblock %}

{% block main %}

<div  style="padding-top:10px; margin-left:100px; width:75%;">
    <h1 class="tm-title tm-title_h1" lang="ru" style="text-align: center;">Китайские исследователи создали процессор за пять часов с помощью ИИ</h1><br><br>
    <p>Группа исследователей из Китая&nbsp;<a href="https://www.techpowerup.com/310725/chinese-research-team-uses-ai-to-design-a-processor-in-5-hours" rel="noopener noreferrer nofollow">использовала</a>&nbsp;искусственный интеллект для создания полноценного процессора RISC-V с нуля. Команда проверила, сможет ли инструмент ИИ спроектировать его самостоятельно без вмешательства человека.&nbsp;</p>
    <img src="{% static 'news/img/proc-1.jpg' %}" width="800" height="600">
    <p>Хотя инструменты проектирования ИИ уже существуют, они, как правило, ограничены в использовании и области применения. Традиционные вспомогательные инструменты для проектирования схем по-прежнему требуют многих часов ручного программирования и проверки для разработки функциональной схемы.&nbsp;</p>
    <p>Команда утверждает, что даже для такого простого процессора, как созданный, людям потребовалось бы в 1000 раз больше времени на разработку.&nbsp;</p>
    <p>ИИ обучался путём наблюдения за конкретными входными и выходными данными существующих конструкций ЦП, при этом в документе кратко излагается подход к обучению: &laquo;Это новый подход к ИИ, который генерирует крупномасштабную логическую функцию с почти 100% точностью проверки (например, &gt; 99,99999999999%, как у Intel) только на основе внешних примеров ввода-вывода, а не формальных программ, написанных человеком. Этот подход генерирует Булеву функцию, представленную структурой графа, называемой бинарной спекуляционной диаграммой (BSD), с нижней границей теоретической точности с использованием расширения на основе Монте-Карло, а расстояние Булевых функций используется для преодоления неразрешимости&raquo;.&nbsp;</p>
    <p>Процессор V32IA, получивший название &laquo;CPU-AI&raquo;, был изготовлен на основе 65-нанометровой литографии и работает на частоте 300 МГц. Он способен успешно запускать Linux, SPEC CINT 2000 и Dhrystone, работая аналогично процессорам Intel i486SX 1991 года.&nbsp;</p>
    <img src="{% static 'news/img/proc-2.jpg' %}" width="1000" height="500">
    <p>Исследователи предполагают, что производительность процессора можно улучшить с помощью расширенных алгоритмов. В заключении статьи группа размышляет о саморазвивающейся машине, которая сможет разрабатывать свои собственные итеративные обновления и улучшения. Они отмечают. что ИИ независимо открыл архитектуру фон Неймана, наблюдая за входными и выходными данными.</p>
    <img src="{% static 'news/img/proc-3.jpg' %}" width="900" height="500">
    <p>Таким образом, алгоритм можно будет настроить, чтобы он сосредоточился на оптимизации мелкозернистой архитектуры.</p>
</div><br>

<div style="margin-left:700px;">
  <ul class="pagination">
    <li class="page-item ">
      <a class="page-link" href="{% url 'Post' 2%}">&laquo;</a>
    </li>
    <li class="page-item ">
      <a class="page-link" href="{% url 'Home' %}">1</a>
    </li>
    <li class="page-item ">
      <a class="page-link" href="{% url 'Post' 1%}">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{% url 'Post' 2%}">3</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="{% url 'Post' 3%}">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{% url 'Post' 4%}">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{% url 'Post' 4%}">&raquo;</a>
    </li>
  </ul>
</div>
{% endblock %}
