{% extends 'main/pattern.html' %}

{% block title %}
О нас
{% endblock %}

{% block main %}
<div style="margin-left:100px;">
    <h1 style="text-align: center;">TEСH-IT-NEWS</h1>
    <h3 style="text-align: center;">Разработчики</h3>
    <p>Наш сайт был создан в 2021 году.</p>
    <p>Иницатором и главным создателем веб-приложения был Павел Княжев. Он работает в сфере Бэкенда и занимается функциональной частью сайта.</p>
    <p>Помошником в разработке визуальной части сайта (фронтенд) был его друг и напарник Батов Антон.</p>
    <p>&nbsp;</p>
    <p>Тех. подержка:</p>
    <p>Электоронная почта: <a href="mailto:kn_pavel@mail.ru">kn_pavel@mail.ru</a></p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="mailto:batov.toxa@gmail.com">batov.toxa@gmail.com</a></p>
    <p>Телефон: 8-973-666-77-34</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;8-999-830-34-56</p>
    </div>
{% endblock %}
